.logo {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  text-decoration: none;
  font-weight: bold;

  img {
    height: 44px;
  }

  &__mark {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;

    @include greater-icon(8px);
  }

  &__text {
    font-size: 1.125rem;
  }

  &__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    color: #fe5186; /* Set text color to pink */
    font-weight: bold; /* Make the letter bold (optional) */
    font-size: 1rem; /* Set the font size to 1rem to match the height */
    line-height: 1rem; /* Set line height to match the height */
    text-align: center; /* Center the "X" horizontally */
    animation: cursor 1s infinite; /* Apply the animation */
  }
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
